@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}
*{
    margin: 0px;
    font-family: 'SeoulNamsanM';
}
body{
    background: url(/Users/yeaseul/Desktop/contest/frontend/fe_part1/img/bgimg.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;   /*배경이미지 고정방식 */
    height: 100vh;
    width: 100vw;
    /* margin: 0px; */
}
#back{
    margin: 20px;
    padding: 20px 0px 20px 0px;
    color: white;
}
#header{
    margin-left: 20px;
    font-weight: normal;
    display: inline-flex;
    flex-direction: row;
    text-shadow: 5px 5px 10px black;
}
#head-in{
    padding-top: 8px;
    font-size: 3em;
    font-family: "Jeju Gothic";
    margin: 20px;
}
.material-icons {
    font-family: 'Material Icons';
    position: relative;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  }
.material-icons-outlined {
    font-family: 'Material Icons';
    position: relative;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    color: white;
    text-shadow: 5px 5px 10px black;
  }
.text-box{
    border-radius: 50px;
    background-color: rgba(227, 232, 242, 0.81);
    padding: 40px 40px 40px 50px;
    margin: 20px;
    color: black;
}
.location{
    font-size: 40px;
    font-weight: lighter;
    display: inline-flex;
    flex-direction: row;
}
.temp{
    font-size: 90px;
    padding: 40px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.293);
}
.cloudy{
    font-size: 40px;
    padding: 10px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.293);
}
.water{
    font-size: 40px;
    padding: 10px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.293);
}
.skhu-turtle{
    font-size: 40px;
    padding: 10px;
    
}